[loggers]
keys=root,image_download_config,get_images

[handlers]
keys=consoleHandler

[formatters]
keys=consoleFormatter

#----- LOGGERS

[logger_root]
level=DEBUG
handlers=consoleHandler

[logger_image_download_config]
level=DEBUG
handlers=consoleHandler
qualname=image_download_config
propagate=0

[logger_get_images]
level=DEBUG
handlers=consoleHandler
qualname=get_images
propagate=0


#----- HANDLERS

[handler_consoleHandler]
class=StreamHandler
formatter=consoleFormatter
args=(sys.stdout,)

#[handler_logFileHandler]
#class=FileHandler
#formatter=consoleFormatter
#args=('%(logfilename)s',)

#----- FORMATTERS

[formatter_consoleFormatter]
format=%(asctime)s - %(lineno)s - %(name)s - %(levelname)s - %(message)s
datefmt=%Y-%m-%d %H:%M:%S
class=logging.Formatter